<!DOCTYPE html>

<head>
    <title>Sobre</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Este site foi criado através das APIs darsky.com e mapbox.com</p>
        <img class="portrait" src="img/img.png">
    </div>
    {{>footer}}
</body>